name: Build

on:
  push:
    branches:
      - '*'
  schedule:
    - cron: '0 0 * * Sun'

jobs:
  build-image:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        debian_version:
          - buster
        ruby_version:
          - '3.0'
          - '2.7'
    steps:
    - uses: docker/setup-buildx-action@v1
    - if: github.ref == 'refs/heads/master'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
        aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        aws-region: us-east-1
    - if: github.ref == 'refs/heads/master'
      uses: docker/login-action@v1
      with:
        registry: public.ecr.aws
    - name: Build runtime image
      uses: docker/build-push-action@v2
      with:
        push: ${{github.ref == 'refs/heads/master'}}
        target: runtime
        tags: |
          public.ecr.aws/exapico/lambda-debian-ruby:runtime-${{matrix.debian_version}}-${{matrix.ruby_version}}
    - name: Build builder image
      uses: docker/build-push-action@v2
      with:
        push: ${{github.ref == 'refs/heads/master'}}
        target: builder
        tags: |
          public.ecr.aws/exapico/lambda-debian-ruby:builder-${{matrix.debian_version}}-${{matrix.ruby_version}}
